.about {
  background: var(--bg, #212529);

  &_one {
    display: flex;
    background: var(--bg, #212529);
    color: #F3F3F3;

    & .about_p {
      // max-width;
      padding: 111px 84px 112px 230px;

      & p {
        width: 620px;
        margin-top: 25px;
      }
    }

    & .about_img {
      max-width: 50%;

      & img {
        width: 100%;
        object-fit: cover;
        height: 100%;
      }

    }

    & p {
      margin-bottom: 40px;
    }

    & .about_read {
      color: var(--logo-light-green, #04FF14);
      font-size: 18px;
    }
  }
}

@media only screen and (max-width: 1180px) {
  .about {
    background: var(--bg, #212529);

    &_one:nth-child(1) {
      display: flex;
      flex-direction: column-reverse;
      background: var(--bg, #212529);
      color: #F3F3F3;

      & .about_p {
        padding: 30px 0 52px 0;

        & p {
          max-width: 100%;
          margin-top: 25px;
        }
      }

      & .about_img {
        min-width: 100%;

        & img {
          width: 100%;
          object-fit: cover;
          height: 100%;
        }

      }

      & p {
        margin-bottom: 40px;
      }

      & .about_read {
        color: var(--logo-light-green, #04FF14);
        font-size: 18px;
      }
    }

    &_one:nth-child(2) {
      display: flex;
      flex-direction: column;
      background: var(--bg, #212529);
      color: #F3F3F3;

      & .about_p {
        padding: 30px 0 52px 0;

        & p {
          max-width: 100%;
          margin-top: 25px;
        }
      }

      & .about_img {
        min-width: 100%;

        & img {
          width: 100%;
          object-fit: cover;
          height: 100%;
        }

      }

      & p {
        margin-bottom: 40px;
      }

      & .about_read {
        color: var(--logo-light-green, #04FF14);
        font-size: 18px;
      }
    }
  }
}