footer {
  width: 100%;
  height: auto;
  margin-top: 400px;
  padding: 70px 0;
  background: var(--bg, #212529);
  color: #fff;

  .wrapper {
    display: flex;
    justify-content: space-between;

    ul {
      list-style-type: none;
      width: 300px;

      & p {
        margin-bottom: 14px;
        color: #AFAFAF;
      }

      & a {
        text-decoration: none;
        color: #fff;
      }
    }


    .f_social {
      display: flex;
      gap: 10px;
      margin-top: 27px;
    }
  }
}

.f_bottom {
  background: var(--bg-light, #272B30);
  color: #FFFFFF;

  .fb_wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 0;
  }
}