header {
    width: 100%;
    position: fixed;
    top: 0;
    background: rgba(0, 0, 0, 0.40);

    .nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-left: 30px;

        &_left {
            display: flex;
            align-items: center;
            gap: 50px;

            .nav__social {
                display: flex;
                list-style-type: none;
                gap: 10px;
            }

            .phone {
                display: flex;
                align-items: center;
                gap: 10px;
                color: #FFFFFF;
            }
        }

        &__list {
            display: flex;
            align-items: center;
            gap: 40px;
            list-style-type: none;

            & select {
                background: transparent;
                border: none;
                cursor: pointer;
                color: #FFFFFF;

                &:focus {
                    outline: none;
                }
            }

            & a {
                text-decoration: none;
                color: #FFFFFF;
            }


        }

        .menu_resp {
            display: none;
        }

        & button {
            padding-top: 33px;
            padding-bottom: 32px;
            padding-left: 30px;
            padding-right: 30px;
            background: #6A369C;
            border: #6A369C;
            color: #FFFFFF;
        }

        .resp_123 {
            display: flex;
            align-items: center;
            gap: 30px;
        }
    }
}

@media only screen and (max-width: 1540px) {
    header {
        width: 100%;
        position: fixed;
        top: 0;
        background: rgba(0, 0, 0, 0.40);

        .nav {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding-left: 30px;

            &__list {
                display: none !important;
                align-items: center;
                gap: 40px;
                list-style-type: none;

                & select {
                    background: transparent;
                    border: none;
                    cursor: pointer;
                    display: none;

                    &:focus {
                        outline: none;
                    }
                }

                & a {
                    text-decoration: none;
                    display: none;
                }

            }

            .menu_resp {
                display: block;
            }
        }
    }
}

@media only screen and (max-width: 1135px) {
    header {
        width: 100%;
        position: fixed;
        top: 0;
        background: rgba(0, 0, 0, 0.40);

        .nav {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding-left: 0;


            &_left {
                display: flex;
                align-items: center;
                gap: 50px;

                .nav__social {
                    display: none;
                    list-style-type: none;
                    gap: 10px;
                }

                .phone {
                    display: none;
                    align-items: center;
                    gap: 10px;
                }
            }

            &__list {
                display: none;
                align-items: center;
                gap: 40px;
                list-style-type: none;

                & select {
                    background: transparent;
                    border: none;
                    cursor: pointer;
                    display: none;

                    &:focus {
                        outline: none;
                    }
                }

                & a {
                    text-decoration: none;
                    display: none;
                }



            }

            .menu_resp {
                display: flex;
            }

            & button {
                padding-top: 33px;
                padding-bottom: 32px;
                padding-left: 30px;
                padding-right: 30px;
                background: #6A369C;
                border: #6A369C;
            }
        }
    }
}

@media only screen and (max-width: 730px) {
    .nav__logo {
        padding: 20px 0;

        & img {
            width: 148px;
            height: 30px;
        }
    }

    .nav button {
        display: none;
    }
}