.map {
  position: relative;

  &_sect {

    & img {
      position: absolute;
      left: 0;
      max-width: 100%;
      min-height: 250px;
    }

  }

  .mapRsp {
    display: none ;
  }
}

@media only screen and (max-width:576px) {
  .mapRsp {
    display: block !important;
    width: 100%;
    height: 300px;
  }

  .mapOrg {
    display: none;
  }
}